.GameResult {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.GameResult button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.25rem;
}

.GameResult button.play-again {
  cursor: pointer;
}
