.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  border-bottom: 1px solid #3a3a3c;
}

.languages {
  display: flex;
}

.language {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.language img {
  width: 2rem;
}

.stats-icon {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
