.KeyBoard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  -webkit-tap-highlight-color: transparent;
  padding-bottom: 8px;
}

.KeyBoard .row {
  display: flex;
  width: 100%;
  touch-action: manipulation;
  gap: 6px;
  justify-content: center;
}

.KeyBoard .key {
  font-size: 1.25rem;
  font-weight: 700;
  border: 0;
  flex: 1 1 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 400ms ease,
    transform 100ms ease,
    opacity 200ms ease;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-key);
  color: var(--color);

  &.functional {
    flex: 1.5;
    font-size: 0.85rem;

    & .button_clear {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &:hover {
    background-color: var(--background-key-hover);
    filter: brightness(1.1);
  }

  &:active {
    transform: scale(0.9);
  }

  &#absent {
    background-color: var(--color-absent);
    opacity: 0.4;
  }

  &#present {
    background-color: var(--color-present);
    color: #fff;
  }

  &#correct {
    background-color: var(--color-correct);
    color: #fff;
  }
}

.KeyBoard .space {
  flex: 0.5;
}

@media (max-width: 480px) {
  .KeyBoard {
    gap: 4px;
    padding-inline: 4px;
  }

  .KeyBoard .row {
    gap: 4px;
  }

  .KeyBoard .key {
    height: 62px;
    font-size: 1.1rem;
    border-radius: 4px;

    &.functional {
      font-size: 0.65rem;
    }
  }

  .KeyBoard .key.functional .button_clear {
    width: 1.2rem;
  }
}
