.KeyBoard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 800px;
  width: 100%;
  -webkit-tap-highlight-color: transparent; /* Remove the tap highlight on mobile */
}

.KeyBoard .row {
  display: flex;
  width: 100%;
  gap: 6px;
}

.KeyBoard .key {
  background-color: var(--background-key);
  font-weight: bold;
  font-size: 1rem;
  border: 0;
  flex: 1;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
  height: 50px;

  &.functional {
    flex: 1.5;
  }

  &:hover {
    background-color: var(--background-key-hover);
  }

  &:active {
    transform: scale(0.95);
  }

  &#absent {
    background-color: var(--color-absent);
  }

  &#present {
    background-color: var(--color-present);
  }

  &#correct {
    background-color: var(--color-correct);
  }
}

.KeyBoard .space {
  flex: 0.5;
}
