.KeyBoard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.KeyBoard .row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.KeyBoard button.key {
  background-color: #818384;
  font-size: 1.25rem;
  font-weight: bold;
  width: 62px;
  height: 62px;
  border: 0;
  border-radius: 0.25rem;
}

.KeyBoard button.key:hover {
  cursor: pointer;
  background-color: #474749;
}

.KeyBoard button.key.functional {
  width: 58px;
  font-size: 1rem;
  flex: 1.5;
}

.KeyBoard button.key#absent {
  background-color: var(--color-absent);
}

.KeyBoard button.key#present {
  background-color: var(--color-present);
}

.KeyBoard button.key#correct {
  background-color: var(--color-correct);
}
