.App-Container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  gap: 2rem;
  flex-grow: 1;
  padding-inline: 1.5rem;
}

@media (max-width: 400px) {
  .App {
    gap: 2rem;
  }
}

@media (min-width: 768px) {
}
