.App-Container {
  min-width: 100vw;
  min-height: 100vh;
}

.App {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  gap: 2rem;
  color: var(--color);
}

.toast {
  position: fixed;
  top: 10%;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0.9;
  transition: opacity 0.5s ease-in-out;
}

.stats-popup {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.stats-popup .overlay {
  width: 350px;
  font-size: 14px;
  letter-spacing: 0.05rem;
  margin-bottom: 10px;
}

.stats-popup .stats-header {
  display: flex;
  justify-content: flex-end;
}

.stats-popup .close-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.stats-popup .stats-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.stats-popup .stats {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.stats-popup .stats li {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  line-height: 0.75;
}

.stats-popup .stats label {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0;
}

/* Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .App {
    gap: 1rem;
  }
}

/* Medium devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Large devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Extra large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .App {
    gap: 0.5rem;
  }
}

/* Extra extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .App {
    gap: 0.5rem;
  }
}
