:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #121213;
  --color-present: #b59f3b;
  --color-correct: #538d4e;
  --color-absent: #3a3a3c;
  --color: #f8f8f8;
  --color-border: #3a3a3c;
  --color-border-active: #565758;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  min-width: 100vw;
}
